.github-corner {
    display: none; /* Oculta el botón original */
}

/* Crea un nuevo botón para el menú de enlaces */
.custom-link {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #1e90ff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}
